@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);

* {
	box-sizing: border-box;
}

a:link, a:hover, a:active, a:visited {
    color: black;
}

html {
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    max-width: 50em;
    margin: 0 auto;
    background-color: #c3d4df;
    padding: 0 0.5em;
}

.section {
    background: white;
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
}

.section .uploadform .field {
    margin-bottom: 2em;    
}

.section .uploadform label, .text {
    font-style: italic;
    font-size: 80%;
}

.section .uploadform input[type="submit"]{
    padding: 1em;
    background-color: #a6f562;
    border: 0.25em solid #82c04e;
    border-radius: 0.5em;
    color: #418f00;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); */
    font-weight: bold;
}

.section pre {
    border: 0.25em solid black;
    background-color: #6b6b6b;
    color: white;
    padding: 0.5em;
    overflow: auto;
}

.section.download a{
    display: inline-block;
    margin-bottom: 1em;
}

#upload {
    padding: 1em;
    border: 0.0625em dashed black;
    border-radius: 0.5em;
}

#scale, #blur {
    padding: 0.2em;
    font-size: 100%;
    width: 4em;
}

#scale_label {
    margin-left: 1em;
}

#filter {
    padding: 0.5em;
    margin-bottom: 1em;
}

#footer{
    text-align: center;
    padding: 1em;
}